body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.container-fluid {
        padding-right: 15px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    th:nth-child(odd) {
        background-color: #ced1b0; /*<!--you can change color whatever-->*/
        text-align: center;
    }

    th:nth-child(even) {
        background-color: #a4cab9; /*<!--you can change color whatever-->*/
        text-align: center;
    }

    .bs-example {
        margin: 20px;
    }

    .btn-primary {
        color: #ffffff;
        background-color: #568188;
        border-color: #4c7278;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .form-control {
        width: 40% !important; /*<!--you can change width of the form-->*/
    }